@CHARSET "UTF-8";
.seller-list{
		
}
.seller-list ul{
	
/* display: inline; */
}
.seller-list ul li{

display: inline;
}

.seller-list .actions{
	
/* white-space: nowrap; */
	
width: 1px;
	
/* overflow: visible; */
}

#comment_to{
	display:inline-block;
}

.empty-comments{
	
text-align: center;
	
padding: 10px;
}

.seller-card{
	max-width:700px;
	min-width:600px;
}