<div role="navigation">
<ul class="nav nav-pills nav-stacked">
{% for category in categories %}
	<li role="presentation"{% if category.id == id %}class="active"{% endif %}>
		<a href="{{ path('category_games', { 'id': category.id }) }}">{{ category.name }}</a>
	</li>
{% endfor %}
</ul>
</div>