<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Experiment/ShoppingCart</title>
</head>
<body>
{% for seller in sellers %}
<table>
	<tr>
		<th>{{ seller.username }}</th>
	</tr>
	{% for game in seller.games %}
	<tr>
		<td>{{ game.name }}</td>
	</tr>
	{% endfor %}
</table>
<br />
{% endfor %}

	
</body>
</html>
